@import url(./common.css);

.all-course-container {
  padding: 20px 3%;
 
}

.coaching-details{
  width: 75%;
  margin: 0 auto;
}


.all-course-container .coaching-details h1{
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  margin: 40px 0 30px;
}

.coaching-details > p{
  text-align: center;
}

.coaching-features{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 60px 0;
}


.coaching-features .feature{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-basis: 24%;
  min-height: 190px;
  background-color: #F3F5F9;
  padding: 20px;
  margin-top: 20px;
  border-radius: 30px;
}

.feature div{
  width: 90px;
  margin: 0 auto;
}

.feature img{
  width: 100%;
}

.feature p{
  text-align: center;
  font-weight: bold;
  /* text-transform: uppercase; */
}

.coaching-details .book-btn{
  background-image: linear-gradient(to right,
  #ffb347 0%,
  #ffcc33 51%,
  #ffb347 100%);
  width: fit-content;
margin: 90px auto 50px;
padding: 15px 45px;
text-align: center;
text-transform: uppercase;
transition: 0.5s;
background-size: 200% auto;
color: #fff;
box-shadow: 0 0 20px #eee;
border-radius: 10px;
display: block;
border-radius: 30px;
text-decoration: none;
font-weight: bold;
}

.coaching-details hr{
  border: 0;
  outline: 0;
  height: 2px;
  margin: 90px 0;
  background-color: #F3F5F9;
}

.coaching-info > div{
  margin-bottom: 80px;
}

.coaching-title{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}


.coaching-title img{
  width: 56px;
  margin-right: 20px;
}

.coaching-title h2{
  text-transform: uppercase;
}

.coaching-description{
  font-size: 18px;
}

.all-course-container > h1 {
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  margin: 20px auto;
  color: #1d183b;
  width: fit-content;
  position: relative;
}

.all-course-container > h1::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 33px;
  width: 60%;
  height: 3px;
  background-color: #1d183b;
}
.all-course-container > h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 100%;
  height: 3px;
  background-color: #1d183b;
}


/* modal style  */

 .modal {
  max-width: 80%;
}

.modal h1{
  margin: 10px 0;
}

.blocker{
  z-index: 200;
}

.modal .send-info {
  display: flex;
}

.modal .send-info>div {
  flex-basis: 50%;
}

.modal .send-info img {
  width: 100%;
  object-fit: cover;
}

.modal .send-info form>div {
  margin-bottom: 10px;
}

.modal .send-info form label {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  margin: 6px 0;
}

.modal .send-info .name-field input[type='text'],
.modal .send-info .email input[type='email'],
.course-select #courses,
.phone-no #phoneField {
  width: 70%;
  height: 34px;
  outline: 0;
  border: 1px solid #95a5a6;
  border-radius: 5px;
  padding-left: 10px;
}

.country-select.inside input,
.country-select.inside input[type=text],
.phone-no #phoneField {
  width: 85%;
  height: 34px;
  outline: 0;
  border: 1px solid #95a5a6;
  border-radius: 5px;
}

.country-select .country-list{
  width: 300px !important;
}

.modal .send-info .message-box {
  margin: 10px 0;
}

.modal .send-info .message-box textarea {
  width: 90%;
  resize: none;
  outline: 0;
  border: 1px solid #95a5a6;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 10px;
}

.modal .send-info .message-box textarea::placeholder {
  font-family: "Poppins", sans-serif;
}

.modal .send-info input[type='submit'] {
  background-color: #f5df4e;
  border: 0;
  outline: 0;
  padding: 10px 30px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 35px;
  cursor: pointer;
}


/* slider companies  */

.companies-show-slider{
  margin: 80px 0 120px;
}


.companies-show-slider h1{
  position: relative;
  font-size: 38px;
  text-align: center;
}

.companies-show-slider h1::after{
  content: '';
  position: absolute;
  width: 10%;
  height: 4px;
  background-color: #ffb347;
  bottom: -10px;
  left:45%;
}

.companies-show-slider .slider{
  position: relative;
  min-height: 250px;
  margin: 80px 0;
  background-color: #FFFDF6;
  display: grid;
  place-items: center;
  overflow: hidden;
}


.slide-track{
  display: flex;
  width: calc(250px * 20);
  background-color: #FFFDF6;
  animation-name: scroll;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0%{
    transform: translateX(0);
  }

  100%{
    transform: translateX(calc(-250px * 10));
  }
}

.slide{
  width: 250px;
  height: 150px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 15px;
  margin: 0 15px;
  border-radius: 25px;
  border: 1px solid gray;
}

.slide img{
  width: 80%;
  margin: 0 auto;
}


/* best feature section  */


.best-feature-section {
  margin: 60px 0;
}

.best-feature-section h1{
  position: relative;
  font-size: 38px;
  text-align: center;
}

.best-feature-section h1::after{
  content: '';
  position: absolute;
  left: 45%;
  bottom: -15px;
  width: 10%;
  height: 4px;
  background-color: #f5df4e;
}

.best-feature-section table{
 width: 60vw;
 text-align: center;
 margin: 90px auto;
 border-collapse: collapse;
 border: none;
}

.best-feature-section td{
  border: 1px solid #f5df4e;
}


td, th{
  height: 60px;
}

/* th:last-child{
  display: flex;
  justify-content: center;
  align-items: center;
} */

th img{
  width: 70px;
  object-fit: cover;
}




/* odd row */
table tr:nth-child(2n+1){
  background-color: rgba(245, 223, 78,0.3);
}


/* even row */
table tr:nth-child(2n+2){
  background-color: rgba(245, 223, 78,0.1);
}


table th:first-of-type{
  border-radius: 2rem 0 0 0;
}

table th:last-child{
  border-radius: 0 2rem 0 0;
}

table tr:last-child td{
  border-bottom: none;
}

table tr:last-child td:first-of-type{
  border-radius: 0 0 0 2rem;
  border-left: none;
}
table tr:last-child td:last-of-type{
  border-right: none;
  border-radius: 0 0 2rem 0;
}


.success{
  color: #2ecc71;
  font-size: 20px;
}

.failed{
  color: #e74c3c;
  font-size: 20px;
}

/* media query  */

@media screen and (max-width:900px) {
  .coaching-features .feature{
    flex-basis: 45%;
  }

  .modal .send-info{
    flex-direction: column;
    align-items: center;
  }

  .best-feature-section table{
    width: 90vw;
  }
}

@media screen and (max-width:700px){

  .all-course-container > h1{
    font-size: 25px;
  }

  .all-course-container > h1::before {
    left: 28px;
  }
  .all-course-container .coaching-details h1{
    font-size: 25px;
  }

  .all-course-container .coaching-details p{
    font-size: 14px;
    text-align: justify;
  }

  .coaching-features .feature{
    flex-basis: 100%;
  }

  .coaching-features .feature p{
    text-align: center;
  }

  .coaching-title h2{
    font-size: 22px;
  }

  .coaching-title img{
    width: 46px;
  }

  .modal h1{
    font-size: 25px;
  }
  .companies-show-slider h1, .best-feature-section h1{
    font-size: 25px;
  }

  .best-feature-section table th{
    font-size: 15px;
  }

  .best-feature-section table tr{
    font-size: 14px;
  }

  .success, .failed{
    font-size: 20px;
  }
}

@media screen and (max-width:440px){

  
  .all-course-container .coaching-details p{
    font-size: 12px;
  }

  .coaching-title img{
    width: 36px;
  }
  
  .coaching-title h2{
    font-size: 18px;
  }
  .modal{
    padding: 20px;
    margin: 0;
    max-width: 90%;
  }

  .modal .send-info form{
    padding: 0 4%;
  }
  .modal h1{
    font-size: 16px;
    padding: 0 3%;
  }

  .modal .send-info form label{
    font-size: 12px;
  }

  .country-select .country-list{
    width: 60vw !important;
  }

  .coaching-details .book-btn{
    font-size: 12px;
    padding: 15px 35px;
  }

  .slide{
    width: 150px;
    height: 100px;
  }

  .best-feature-section table th{
    font-size: 11px;
  }

  .best-feature-section table tr{
    font-size: 10px;
  }

  .success, .failed{
    font-size: 14px;
  }

  td{
    width: 40px;
  }

  th img{
    width: 40px;
  }
}