@import url(./common.css);


.blog-header{
    width: 100%;
    min-height: fit-content;
    background-image: url('../images/blogs/details/background.jpg');
   background-position: bottom;
   background-size: cover;
   background-repeat: no-repeat;
    
}


.blog-header-container{
    width: 70%;
    margin: 0 auto;
    padding: 60px 2%;
}

.blog-post-info{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    margin: 30px 0;
}

.blog-heading-info h1{
    font-size: 38px;
    text-align: center;
}

.blog-header .blog-img img{
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
}



.blog-details{
    width: 80%;
    margin: 80px auto;
}

.blog-details p{
    margin-bottom: 30px;
    text-align: justify;
}

.blog-details p{
    font-size: 15px;
}


.blog-details hr{
    border: 0;
    outline: 0;
    height: 1px;
    background-color: #f5df4e;
   
    margin: 60px 0;
}

.blog-details h1{
    font-size: 40px;
    margin-bottom:20px;
}

.blog-details ul{
    padding: 0 8%;
    margin-bottom: 30px;
}



.blog-details ol li{
    font-size: 30px;
}

.blog-details ol li::marker{
    font-size: 30px;
    font-weight: bold;
}

.blog-details ol li ul  li{
    list-style-type:disc;
    font-size: 25px;
}

.blog-details ol  h1{
    font-size: 30px;
}

.blog-details ol li ul  li::marker{
    font-size: 18px;
}

.blog-details h6{
    margin-bottom: 20px;
}

.blog-details .meta-platforms li{
    list-style-type: " - ";
    font-size: 15px;
    
}


.comment-section{
    width: 80%;
    margin: 0 auto;
}

.comment-section p{
    font-size: 14px;
}

.comment-box{
    margin-top: 20px;
}

.sender-info textarea, .sender-name input[type='text'], .sender-email input[type='email']{
width: 80%;
resize: none;
border-radius: 6px;
margin: 7px 0 10px;
padding: 10px;
outline: none;
border: 2px solid #e5e5e5;
}

.sender-name{
    margin-bottom: 20px;
}


.post-btn {
    display: block;
    width: fit-content;
    margin: 60px auto;
    padding: 10px 35px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #f5df4e;
    color: #000;
    border-radius: 25px;
    font-weight: bold;
    font-size: 18px;

  }
  
  .post-btn:hover {
    box-shadow: 0 0 5px #f5df4e;
  }

.author-details{
    background-color: #f5df4e;
    padding: 70px 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

.author-img{
    width: 260px;
}

.author-img img{
    border-radius: 50%;
    width: 100%;
    object-fit: cover;
    outline: 5px solid #000;
    outline-offset: 5px;
}

.author-info{
    grid-column: 2/ span 3;
    padding: 0 50px;
}

.author-info h1{
    font-size: 38px;
    margin-bottom: 15px;
}

.author-info p{
    font-size: 15px;
    line-height: 30px;
}



@media screen and (max-width:900px) {
    .subscribe{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .subscribe h1{
        margin-bottom: 30px;
    }

    .subscribe p{
        margin-bottom: 30px;
    }
}

@media screen and (max-width:700px) {
    .author-details{
        grid-template-columns: repeat(1,1fr);
    }

    .author-info{
        grid-column: 1/ -1;
        padding: 0 50px;
    }
}

@media screen and (max-width:440px) {

    .blog-header{
        min-height: fit-content;
    }

    .blog-heading-info h1{
        font-size: 20px;
    }

    .subscribe h1, .blog-details h1, .blog-details ol li ul  li{
        font-size: 25px;
    }

    .subscribe > p{
        font-size: 14px;
    }

    .email label{
        font-size: 14px;
    }
    .blog-details p, .blog-details ul, .blog-details ol li,.blog-details ol li, .blog-details .meta-platforms {
        font-size: 14px;
    }

    .author-info{
        padding: 0;
    }

    .author-info h1{
        font-size: 32px;
        margin: 20px 0;
    }

    .author-info p{
        font-size: 14px;
    }

    
}