/* course container  */

.course-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 50px 0 80px;
  padding: 0 3%;
}

.course-card {
  min-height: fit-content;
  background-color: #fff;
  box-shadow: 0 0 10px #bdc3c7;
  border-radius: 25px;
  margin: 10px 0;
  transition: box-shadow 1s;
}

.course-card a {
  display: block;
  width: 100%;
  height: 100%;
}
.course-card:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);
}

.course-card > a {
  text-decoration: none;
}

.course-info {
  padding: 9%;
}

.course-banner {
  width: 100%;
  border-radius: 25px;
  position: relative;
}

.course-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.course-title {
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
  padding: 0 20px;
  color: black;
}

@media screen and (max-width: 900px) {
  .course-container {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
  }
}

@media screen and (max-width: 700px) {
  .course-container {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 30px;
  }
}
