@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

:root {
  --primary-color: #f5df4e;
  --black-color: #000;
  --font-roboto: "Roboto Condensed", sans-serif;
}

body {
  background-color: #f5f6fa;
}

main {
  padding: 1rem 5%;
}

.header {
  background-color: rgba(245, 223, 78, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.header .company-logo {
  width: 12vw;
  height: 12vw;
}

.header h1 {
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 3vw;
}

.company-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header .duration-mark {
  width: 30vw;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.header .duration-mark p {
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 1.5vw;
}

.question-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  position: relative;
}

.question-container .question-div {
  flex-basis: 70%;
}

.question-div > div {
  margin: 3rem 0;
  border-radius: 10px;
  border: 1.5px solid black;
  padding: 2rem;
  background-color: #fff;
}

.question-div > div h2:first-child {
  background-color: var(--primary-color);
  width: fit-content;
  padding: 0.5rem 2rem;
  border-radius: 30px;
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 1.5vw;
}

.question-div > div h2:last-of-type {
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 2.2vw;
  margin: 2rem 0;
}

.question-div .option-div {
  margin-top: 1rem;
}

.question-div .option-div > p {
  margin: 1rem 0;
  background-color: rgba(245, 223, 78, 0.3);
  padding: 1rem 2rem;
  border-radius: 10px;
  font-style: var(--font-roboto);
  font-weight: 500;
  font-size: 1.2vw;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.question-div .option-div .option-no {
  background-color: var(--black-color);
  color: #fff;
  padding: 0.5rem;
  border-radius: 50%;
  width: 3vw;
  height: 3vw;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.submit-btn {
  display: block;
  width: fit-content;
  background-color: var(--primary-color);
  color: #000;
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 1.5vw;
  padding: 1rem 3rem;
  border-radius: 30px;
  margin: 0 auto;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.select {
  font-weight: 700 !important;
  background-color: var(--primary-color) !important;
}

.question-container .timer-div {
  flex-basis: 28%;

  position: relative;
}

.timer-div .navigation-anchors {
  background-color: rgba(245, 223, 78, 0.6);
  color: #000;
  padding: 1rem 2rem;
  width: 100%;
  position: sticky;
  top: 1rem;
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
}

.navigation-anchors a {
  text-decoration: none;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-color);
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  margin: 0.3rem;
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 1.3vw;
}

.timer-div .time-remaining {
  margin: 1rem;
  position: sticky;
  top: 10rem;
}

.time-remaining p {
  border: 2px solid black;
  width: fit-content;
  padding: 1rem;
  border-radius: 30px;
  margin: 0 auto;
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 1.5vw;
}

.red {
  color: red;
}

/* sweet alert customization  */

.swal2-confirm {
  color: #000 !important;
}

/* media query  */

@media screen and (max-width: 1200px) {
  .timer-div .time-remaining {
    top: 15rem;
  }

  .submit-btn {
    font-size: 2vw;
  }
}
@media screen and (max-width: 900px) {
  .header .company-logo {
    height: 15vw;
    width: 15vw;
  }

  .header h1 {
    font-size: 3.5vw;
  }

  .header .duration-mark p {
    font-size: 2vw;
  }

  .question-div > div h2:first-child {
    font-size: 2vw;
  }

  .question-div > div h2:last-of-type {
    font-size: 3vw;
  }

  .question-div .option-div > p {
    font-size: 1.5vw;
  }

  .question-div .option-div .option-no {
    width: 4vw;
    height: 4vw;
  }

  .timer-div .navigation-anchors {
    padding: 1rem;
  }

  .navigation-anchors a {
    width: 4vw;
    height: 4vw;
    font-size: 1.6vw;
  }

  .time-remaining p {
    font-size: 2.2vw;
  }

  .submit-btn {
    font-size: 3vw;
  }
}
@media screen and (max-width: 600px) {
  main {
    padding: 0.5rem;
  }
  .header .company-logo {
    height: 30vw;
    width: 30vw;
  }

  .header h1 {
    font-size: 5.5vw;
  }

  .header .duration-mark {
    width: 60vw;
  }

  .header .duration-mark p {
    font-size: 4vw;
  }

  .question-div > div {
    padding: 1.5rem;
  }

  .question-div > div h2:first-child {
    font-size: 4vw;
  }

  .question-div > div h2:last-of-type {
    font-size: 6vw;
  }

  .question-div .option-div > p {
    padding: 0.5rem;
    font-size: 3vw;
  }

  .question-div .option-div .option-no {
    width: 8vw;
    height: 8vw;
  }

  .timer-div .navigation-anchors {
    padding: 1rem;
    justify-content: space-evenly;
  }

  .navigation-anchors a {
    width: 8vw;
    height: 8vw;
    font-size: 3vw;
  }

  .timer-div .time-remaining {
    top: 25rem;
  }

  .time-remaining p {
    font-size: 4vw;
  }

  .submit-btn {
    font-size: 4vw;
  }
}

@media screen and (max-width: 300px) {
  main {
    padding: 0;
  }
  .header .company-logo {
    height: 35vw;
    width: 35vw;
  }

  .header h1 {
    font-size: 6.5vw;
    text-align: center;
  }

  .header .duration-mark {
    width: 60vw;
    margin-top: 1rem;
  }

  .header .duration-mark p {
    font-size: 5vw;
  }

  .question-container .question-div {
    flex-basis: 95%;
  }

  .question-container .timer-div {
    flex-basis: 5%;
  }

  .question-div > div {
    padding: 0.5rem;
  }

  .question-div > div h2:first-child {
    font-size: 5vw;
    padding: 0.5rem;
  }

  .question-div > div h2:last-of-type {
    font-size: 6.5vw;
  }

  .question-div .option-div > p {
    padding: 0.5rem;
    font-size: 3.5vw;
  }

  .timer-div .navigation-anchors {
    padding: 0.1rem;
    justify-content: space-evenly;
  }

  .navigation-anchors a {
    width: 10vw;
    height: 10vw;
    font-size: 4vw;
  }

  .timer-div .time-remaining {
    top: 25rem;
  }

  .time-remaining p {
    font-size: 5vw;
  }

  .submit-btn {
    font-size: 5vw;
    margin-bottom: 1rem;
  }
}
