/* footer section start  */
footer {
  min-height: 150px;
  background-color: #1e272e;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 20px 4%;
}

footer > div {
  flex-basis: 50%;
}

.footer-logo img {
  width: fit-content;
  height: 150px;
  object-fit: cover;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  color: #f5df4e;
}

footer p {
  margin-left: 75px;
  color: #fff;
}

footer .rules-regulations {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  footer {
    flex-direction: column;
  }

  .footer-logo img {
    width: 300px;
    height: 300px;
  }

  footer p {
    margin-left: 0;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 900px) {
  footer > div {
    margin-bottom: 20px;
    flex-basis: 100%;
  }

  footer a {
    margin-right: 20px;
  }
}
@media screen and (max-width: 600px) {
  footer > div {
    margin-bottom: 20px;
    flex-basis: 100%;
  }

  footer a {
    margin-right: 20px;
  }

  .footer-logo img {
    height: 250px;
  }
}

@media screen and (max-width: 440px) {
  .footer-logo img {
    height: 220px;
  }
  footer .rules-regulations {
    flex-direction: column;
    align-items: center;
  }

  footer .rules-regulations a {
    margin-bottom: 10px;
  }
}
