.content {
    display: none;
}

.container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    perspective: 1000px;
}

.box-container {
    width: 850px;
    height: 550px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}



.box {
    display: flex;
    justify-content: center;
    width: 600px;
    height: 40px;
    transform-style: preserve-3d;
    transition: all 4s;
    animation: animate 5s infinite;
    transform: translateY(130px);
   
}

@keyframes animate {


    15% {
        transform: translateY(0);
        
    }

    50% {
        transform: rotateX(30deg) rotateY(45deg);
       
    }

    100% {
        transform: translateY(0);
        
    }
}

.card {
    width: 580px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #fff;
    box-sizing: border-box;
    text-align: center;
    font-size: 5vw;
    position: absolute;
}

#front {
    transform: translateZ(310px);
}

#back {
    transform: translateZ(-310px)
}

#left {
    right: 310px;
    transform: rotateY(-90deg);
}

#right {
    left: 310px;
    transform: rotateY(-90deg);
}

#top {
    bottom: 230px;
    transform: rotateX(90deg);
}

#bottom {
    top: 230px;
    transform: rotateX(-90deg);
}


@media screen and (max-width:900px) {
    .box {
        width: 450px;
    }

    .card {
        width: 380px;
    }

}

@media screen and (max-width:700px) {
    .box {
        width: 300px;
    }

    .card {
        width: 280px;
    }

    #right {
        left: 150px;
    }


    #left {
        right: 150px;
    }

    #front {
        transform: translateZ(150px);
    }

    #back {
        transform: translateZ(-150px)
    }
}

@media screen and (max-width:440px) {
    .card {
        width: 200px;
    }

    #right {
        left: 150px;

    }

    #left {
        right: 150px;
    }

    #front {
        transform: translateZ(120px);
    }

    #back {
        transform: translateZ(-120px)
    }
}

@media screen and (max-width:340px) {

    .card {
        width: 150px;
    }

    #right {
        left: 140px;

    }

    #left {
        right: 140px;
    }

    #front {
        transform: translateZ(85px);
    }

    #back {
        transform: translateZ(-85px)
    }
}

