@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

:root {
  --primary-color: #f5df4e;
  --black-color: #000;
  --font-roboto: "Roboto Condensed", sans-serif;
}

.back-btn {
  position: fixed;
  top: 1rem;
  left: 1rem;
  text-decoration: none;
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 1.3vw;
  background-color: var(--primary-color);
  display: block;
  padding: 1rem 2rem;
  border-radius: 30px;
}

.header {
  padding: 0 5%;
}

.logo {
  width: 40vw;
  height: 20vh;
  margin: 10px auto 0;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header h1 {
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 3vw;
  text-align: center;
  margin: 1rem 0;
}

.result {
  display: flex;
  height: calc(100vh - 20vh - 78px - 10px);
}

.result > div {
  flex-basis: 50%;
}

.mark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mark p {
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 1.5vw;
  margin: 1rem 0;
  background-color: var(--primary-color);
  width: 30vw;
  padding: 0.5rem 1rem;
}

.achievement-logo {
  width: 100%;
  height: 100%;
}

.achievement-logo img {
  width: 100%;
  height: 80%;
  object-fit: contain;
}

.evaluate-section {
  margin: 5rem 5%;
}

.evaluate-section-header h1 {
  font-family: var(--font-roboto);
  font-size: 3vw;
  font-weight: 700;
}

.color-palate {
  padding: 1rem 0;
}

.color-palate p {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.color-palate p span {
  font-family: var(--font-roboto);
  font-size: 1.5vw;
  font-weight: 700;
}

.color-palate .correct-color {
  display: block;
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  background-color: #4cd137;
  margin-right: 0.9rem;
}
.color-palate .wrong-color {
  display: block;
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  background-color: #e84118;
  margin-right: 0.9rem;
}

.card-container {
  padding: 2rem 0;
}

.card-container .card {
  background-color: #f5f6fa;
  border: 1px solid #000;
  padding: 2rem;
  border-radius: 15px;
}

.card h2 {
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 1.5vw;
  background-color: var(--primary-color);
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 30px;
}

.card h1 {
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 2.5vw;
  margin: 1.5rem 0;
}

.options p {
  display: flex;
  align-items: center;
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 1.5vw;
}
.options > p {
  margin-bottom: 1rem;
  border-radius: 30px;
}
.options .option-no {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.8rem;
  background-color: #000;
  color: #fff;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
}

.option-value {
  font-weight: 700 !important;
}

.wrong-ans {
  background-color: #e84118;
  font-weight: 700;
  color: #fff;
}
.correct-ans {
  background-color: #4cd137;
  color: #fff;
}

/* media query  */

@media screen and (max-width: 1200px) {
  .back-btn {
    font-size: 2.6vw;
  }
  .logo {
    width: 25vw;
    height: 20vh;
  }

  .header h1 {
    font-size: 5vw;
    margin-bottom: 2rem;
  }

  .result {
    flex-direction: column;
  }

  .mark p {
    font-size: 3.5vw;
  }

  .achievement-logo {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 900px) {
  .header h1 {
    font-size: 6vw;
  }
}
@media screen and (max-width: 600px) {
  .back-btn {
    font-size: 3.6vw;
  }
  .logo {
    width: 30vw;
    height: 20vh;
  }

  .header h1 {
    font-size: 6vw;
    margin-bottom: 2rem;
  }

  .mark p {
    width: 60vw;
    text-align: center;
    font-size: 4.5vw;
  }

  .achievement-logo {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 300px) {
  .back-btn {
    font-size: 4.6vw;
    padding: 0.5rem 1rem;
  }

  .header h1 {
    font-size: 8vw;
  }
}
