@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-display: swap;
}

::selection {
  background-color: #f5df4e;
}

body {
  scroll-behavior: smooth;
  /* background-color: rgba(245, 223, 78, 0.1); */
}

.modal {
  max-width: 60%;
}

.modal h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;
}
.blocker {
  z-index: 200;
}

.modal .scan-img {
  width: 50%;
  margin: 0 auto;
}

.modal .scan-img img {
  width: 100%;
  object-fit: cover;
}

.modal p {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  /* color: #2ecc71; */
}

.send-btn {
  background-color: #f5df4e;
  width: fit-content;
  height: 60px;
  margin: 30px auto;
  padding: 20px 35px;
  transition: 0.5s;
  background-size: 200% auto;
  color: #000;
  box-shadow: 0 0 20px #eee;
  display: block;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

.main-content {
  padding: 10px 6%;
}

.main-content h1 {
  text-align: center;
  font-size: 35px;
  position: relative;
  margin: 20px 0 50px;
}

.main-content h1::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 45%;
  width: 10%;
  height: 6px;
  background-color: #f5df4e;
}

.main-content .courses {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  margin: 30px 0;
}

.card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.card-image {
  width: 100%;
}

.card-image img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-content {
  padding: 15px;
}

.card-title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.price {
  font-size: 17px;
  font-weight: bold;
}

.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.btn {
  text-decoration: none;
  color: #000;
  background-color: #f5df4e;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 20px;
}

@media screen and (max-width: 700px) {
  .modal {
    max-width: 100%;
  }

  .modal h1 {
    font-size: 20px;
  }
}
@media screen and (max-width: 440px) {
  .modal h1 {
    font-size: 12px;
  }

  .modal p {
    font-size: 10px;
  }

  .modal .scan-img {
    width: 100%;
  }

  .send-btn {
    height: fit-content;
    padding: 10px 20px;
    font-size: 12px;
  }

  .main-content h1 {
    font-size: 30px;
  }

  .card-title {
    font-size: 18px;
  }

  .price {
    font-size: 15px;
  }

  .btn {
    font-size: 15px;
  }
}

@media screen and (max-width: 300px) {
  .main-content .courses {
    grid-template-columns: 1fr;
  }

  .card-title {
    font-size: 16px;
  }

  .price {
    font-size: 12px;
  }

  .btn {
    font-size: 12px;
  }
}
