@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

::selection {
  background-color: #f5df4e;
}

/* scroll-to-top   */
.up p {
  position: fixed;
  bottom: 2%;
  right: 5%;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  padding: 6px;
  border-radius: 6px;
  display: none;
}

.up p::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: #000;
  clip-path: polygon(57% 49%, 0 0, 1% 100%);
  right: -13px;
  top: 10px;
}

.scroll-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #c6c7c8;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 10px;
  box-shadow: 0 0 15px #c6c7c8;
  cursor: pointer;
  visibility: hidden;
  z-index: 100;
}

.scroll-to-top:hover {
  background-color: #f5df4e;
}

.scroll-to-top i {
  font-size: 19px;
  font-weight: 600;
  color: #fff;
}

.scroll-to-top:hover i {
  color: #000;
}

/* header part  */

header {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/intro-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  min-height: 450px;
}

header .profile-img {
  text-align: center;
  margin-bottom: 25px;
}

.profile-img img {
  padding: 8px;
  background-color: #fff;
  border-radius: 50%;
}

.intro h1 {
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.intro p {
  text-align: center;
  font-size: 1.3rem;
  color: #dee3e4;
  margin: 10px 0;
}

.intro button {
  display: block;
  width: 165px;
  margin: 25px auto 0;
  background-color: #f5df4e;
  border-color: #f5df4e;
  color: #212529;
  border-width: 2px;
  font-weight: 500;
  font-size: 16px;
  padding: 0.8rem 0;
  cursor: pointer;
}

.intro a {
  text-decoration: none;
}

.intro i {
  margin-top: 15px;
  color: #fff;
  font-size: 23px;
  text-align: center;
  display: block;
  animation-name: arrow-down;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  opacity: 0;
}

@keyframes arrow-down {
  50% {
    opacity: 0.7;
  }
  75% {
    opacity: 1;
    transform: translateY(25px);
  }
  100% {
    transform: translateY(30px);
  }
}

/* navbar start  */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  border-bottom: 1px solid #f3f3f3;
  background-color: #fff;
  position: sticky;
  top: 0;
  box-shadow: 0 3px 5px #ecf0f1;
  z-index: 100;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #252b33;
  font-weight: 500;
  font-size: 17px;
  text-transform: uppercase;
  position: relative;
}

.navbar > ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #f5df4e;
  position: absolute;
  bottom: -8px;
  left: 0;
  transition: width 0.4s;
}

.navbar ul li a:hover::after,
.navbar ul li a.active::after {
  width: 100%;
}

.navbar .contact {
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar .contact i {
  font-size: 20px;
  color: #252b33;
  cursor: pointer;
}

.contact .facebook:hover {
  color: blue;
  transform: scale(1.1);
}
.contact .twitter:hover {
  color: #00acee;
  transform: scale(1.1);
}
.contact .instagram:hover {
  color: violet;
  transform: scale(1.1);
}

.contact div {
  position: relative;
  margin-right: 15px;
}

.contact div p {
  position: absolute;
  left: -25px;
  bottom: -35px;
  background-color: #4d555a;
  padding: 4px 7px;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  border-radius: 5px;
  display: none;
}

.contact div p::before {
  content: "";
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  width: 12px;
  height: 10px;
  background-color: #4d555a;
  position: absolute;
  top: -10px;
  left: 30px;
}

.content div:hover + p {
  display: block;
}

.contact .humburger {
  display: none;
}

.contact .humburger .humburger-menus {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  box-shadow: 0 0 10px #ecf0f1;
  min-width: 80vw;
  z-index: 100;
}

.contact .humburger .humburger-menus li {
  padding: 10px 6px;
  display: block;
  border-bottom: 1px solid #bdc3c7;
}

.contact .humburger .humburger-menus li a:hover,
.contact .humburger .humburger-menus li a.active {
  color: #f5df4e;
}

.contact #close-icon {
  display: none;
  font-size: 20px;
}

/* about me part  */

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
  padding: 0 55px;
  position: relative;
  z-index: -1;
}

.about-header p {
  text-align: center;
}

.about-header p span {
  background-color: #f5df4e;
  padding: 0 10px;
  display: inline-block;
  margin-bottom: 13px;
}

.about-header h2 {
  font-weight: 600;
  font-size: 42px;
  margin-bottom: 40px;
}

.about-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-intro {
  flex-basis: 63%;
}

.about-intro h2 {
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 10px;
}

.about-intro h2 span {
  font-weight: 600;
  display: inline-block;
  position: relative;
}

.about-intro h2 span::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #f5df4e;
  position: absolute;
  left: 0;
  bottom: 0;
}

.about-intro p {
  font-size: 20px;
}
.about-experience {
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.about-experience div {
  width: 120px;
  height: 120px;
  background-color: #f5df4e;
  border-radius: 50%;
}

.about-experience h1 {
  position: absolute;
  top: -40px;
  font-size: 9rem;
  font-weight: 400;
  color: #4c4d4d;
}

.about-experience h3 {
  margin-top: 30px;
  font-weight: 500;
  font-size: 1.7rem;
}

.about-details {
  margin-top: 80px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-details p a {
  color: black;
}

.about-details p:first-child {
  color: #979791;
  margin-bottom: 10px;
}

.about-details p:last-child {
  font-weight: 600;
  font-size: 1.12rem;
}

/* service section  */

.service-section {
  background-color: #000;
  padding: 40px 4%;
}

.service-header {
  width: fit-content;
  text-align: center;
  margin: 20px auto 30px;
}

.service-header span {
  display: inline-block;
  padding: 3px 5px;
  font-size: 14px;
  font-weight: 600;
  background-color: #f5df4e;
}

.service-header h1 {
  color: #fff;
  font-size: 42px;
  margin: 20px 0 30px;
}

.services {
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.services .service {
  height: 300px;
  border: 2px solid #fff;
  border-radius: 25px;
  padding: 30px;
  margin-top: 30px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
  overflow: hidden;
}

.service-info {
  margin-top: 30px;
  transition: margin-top 0.5s;
}

.service-icon {
  display: flex;
  justify-content: center;
}

.service-name {
  margin-top: 10px;
  text-align: center;
  font-size: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.service-icon img {
  width: 80px;
}

.service-description {
  transform: translateY(140px);
  visibility: hidden;
  transition: transform 0.4s;
}

.service:hover {
  border: 2px solid #706fd3;
  box-shadow: 0 0 10px #706fd3;
}

.service:hover .service-info {
  margin-top: -10px;
}

.service:hover .service-icon {
  transition: justify-content 0.8s;
}

.service:hover img {
  width: 60px;
  transition: width 0.3s;
  border: 2px solid #f5df4e;
  outline: 2px solid #706fd3;
  outline-offset: 6px;
  border-radius: 50%;
  padding: 10px;
}

.service:hover .service-description {
  transform: translateY(5px);
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
  visibility: visible;
}

/* project section  */
.project-section {
  min-height: 400px;
  padding: 30px 4%;
  margin: 30px 0;
}

.project-section > span {
  display: block;
  margin: 0 auto 30px;
  background-color: #f5df4e;
  width: fit-content;
  padding: 4px 8px;
  font-size: 15px;
}

.project-inner-section {
  margin: 80px 0;
  display: flex;
}

.left-side,
.right-side {
  flex-basis: 50%;
}

.left-side h2 {
  font-size: 32px;
  text-transform: uppercase;
}

.left-side h2 span {
  position: relative;
}

.left-side h2 span::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: #f5df4e;
  width: 70%;
  height: 3px;
}

.dynamic-writing {
  margin: 20px 0;
}

.dynamic-writing h3 {
  font-size: 24px;
  font-weight: 500;
}

.dynamic-writing .type {
  color: #706fd3;
  font-weight: bold;
}

.project-stats {
  display: flex;
  justify-content: space-between;
}

.project-stats div p {
  margin-top: 10px;
}
.select-inspire {
  margin: 30px 0;
}

.select-inspire p {
  font-size: 18px;
  font-weight: 600;
}

.select-inspire span {
  font-size: 14px;
  color: #979791;
}

.explore-more {
  text-decoration: none;
  font-weight: 500;
  color: #000;
  display: inline-block;
  background-color: #f5df4e;
  padding: 10px 15px;
  border-radius: 30px;
  transition: all 0.4s;
}

.explore-more:hover {
  box-shadow: 0 5px 10px #f5df4e;
}

.right-side div {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-side div img {
  width: 80%;
  padding: 10px;
  outline: 5px;
  background-color: #706fd3;
  cursor: pointer;
  transition: all 0.3s;
}

.right-side div img:hover {
  transform: scale(1.1);
}

/* media query  */

@media screen and (max-width: 900px) {
  .up p {
    bottom: 1%;
    right: 9%;
  }
  .navbar ul {
    display: none;
  }

  .contact .humburger {
    display: block;
  }

  .contact .humburger .humburger-menus {
    display: none;
  }

  .about-details div {
    margin-bottom: 18px;
  }

  .services {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .up p {
    bottom: 2%;
    right: 17%;
  }
  .navbar ul {
    display: none;
  }

  .contact .humburger {
    display: block;
  }

  .contact .humburger .humburger-menus {
    display: none;
    right: -30px;
  }

  .about-info {
    flex-direction: column;
  }

  .about-experience {
    margin-top: 40px;
  }

  .about-details {
    flex-direction: column;
    align-items: flex-start;
  }

  .services {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 440px) {
  .intro h1 {
    font-size: 25px;
    padding: 0 10px;
  }

  .intro p {
    font-size: 18px;
  }

  .navbar .logo img {
    width: 80px;
  }

  .contact .humburger .humburger-menus {
    right: -80px;
  }

  .about-header h2 {
    font-size: 30px;
  }

  .about-intro h2 {
    font-size: 1.5rem;
  }

  .about-intro p {
    font-size: 15px;
  }

  .about-experience h1 {
    font-size: 5rem;
    top: -5px;
  }

  .about-experience h3 {
    font-size: 1.3rem;
  }
}
