
.content{
    height: 350px;
   
}

.content-img img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.worth{
    min-height: 300px;
}

.worth h1{
    margin: 20px 0;
}

.worth p{
    margin: 10px 0;
}

.worth h3{
text-decoration: line-through;
}
.worth .worth-img img{
    width: 80px;
    object-fit: cover;

}

.faq-container .vcollapse-content ul{
    margin-top: 30px;
    margin-left: 30px;
    list-style-position: inside;
}

.faq-container .vcollapse-content p{
    padding-left: 10px;
}

@media screen and (max-width:700px) {
    .header-img img{
        margin-top: 40px;
    }

    .reasons{
        align-items: flex-start;
    }

    .reasons > ul li{
        margin-bottom: 25px;
    }
}

@media screen and (max-width:440px) {

    .header-title h1{
        font-size: 30px;
    }

    .content-img img{
        width: 60px;
        height: 60px;
    }

    .worth h1{
        font-size: 18px;
    }
    
    .worth .worth-img img{
        width: 60px;
    }

    .worth p{
        font-size: 12px;
    }

    .worth h3{
        font-size: 16px;
    }
}