
.what-is-branding p{
    text-indent: 18px;
}

.why-branding-important ol li, .common-misconceptions ol li{
    margin-left: 80px;
    margin-bottom: 20px;
    text-align: justify;
}

.why-branding-important ol li, .why-branding-important ol li::marker, .common-misconceptions ol li, .common-misconceptions ol li::marker{
    font-size: 15px;
}

@media screen and (max-width:440px) {
    .why-branding-important ol li, .common-misconceptions ol li{
        margin-left: 40px;
      
    }
}